
<h1> New Course </h1>
<%= form_for(:course) do |f| %>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department, :value =>@course.department %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number, :value =>@course.number %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :value =>@course.title %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size, :value =>@course.size %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours, :value =>@course.hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>