<html>
<head>
	<title>Course Page</title> 
</head>
<body>
	<p>
		<b>Department:</b> <%= @course.department%>
	</p>
	<p>
		<b>Number:</b> <%= @course.number%>
	</p>
	<p>
		<b>Title:</b> <%= @course.title%>
	</p>
	<p>
		<b>Size:</b> <%= @course.size%>
	</p>
	<p>
		<b>Hours:</b> <%= @course.hours%>
	</p>

</body>
</html>